/*========================================
			Basic Tags
========================================*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-size: 10px; 
	height: 100%;
}

body {
	font-family: 'Poppins', 'Gotham', 'Helvetica', sans-serif;
	background: #fcfcfc;
	width: 100%;
	color: #131313;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin: 0;
}


h1 {
	font-size: 4.8rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3.6rem;
}

h4 {
	font-size: 2.8rem;
}

h5 {
	font-size: 2rem;
}

h6 {
	font-size: 1.2rem;
}

p {
	font-family: 'Bitter', 'Geogia', 'Times New Roman', serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.8;
	letter-spacing: .02em;
}

img {
	max-width: 100%;
}

li {
	list-style-type: none;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: steelblue;
	/*font-weight: 700;*/
}

.hide {
	display: none;
}

.color {
	background: pink;
}

.row {
	margin: 50px 0;
}

.box-shadow {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
	margin-bottom: 20px
}

/*========================================
			Landing Section
========================================*/
#wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

.landing-Bg {
	width: 100%;
	height: 100%;
	background: url(../img/BG.jpg)center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-wrap {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.landing-info {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 color: white;
}

.landing-intro {
	margin: 0 auto;
	width: 300px;
	font-size: 2rem;
	font-weight: 900;
	text-align: center;
}

.landing-btn {
	display: inline-block;
	background: steelblue;
	padding: 5px 20px;
	margin: 0;
	border-radius: 5px;
	margin: 10px auto;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	font-size: 1.6em;
}

.landing-btn:hover {
	background: white;
	color: steelblue;
	cursor: pointer;
}

.menu-icon {
	color: white;
	font-size: 1.5rem;
}

/*========================================
			landing Logo Section
========================================*/
/*
 Animation keyframes. These help the logo do
 the line effect and also make it bulge
*/
@keyframes offset {
	100% {stroke-dashoffset: 0;}
}

@keyframes scaledown {
	0% {
		transform: scale(1);
		opacity: .6;
	}
	50% {
		transform: scale(.2);
		opacity: 0;
	}
}

@keyframes fill {
	0% {
		opacity: 1; 
		transform: scale(1);
	}
	30%{transform: scale(1.1);}
	60% {transform: scale(.9);}
	100% {fill: #fff;}
}

@keyframes text {
	0% {transform: translateY(-100px);}
	50% {opacity: 0;}
	100%{opacity: 1}
}

svg {
	display: block;
	width: 50%;
	padding:  20px 30px;
	margin: 0 auto;
}

#logoNeg * {
	transform-origin: 50% 50%;
}

.logo {
	stroke: #fff;
	stroke-width: 15;
	stroke-dasharray: 4235;
	stroke-dashoffset: 4235;
	animation: offset 2.5s linear forwards,
			scaledown .5s ease-out 2.5s forwards, 
			fill 1s ease-out 3s forwards;
}


/*========================================
			Navigation Section
========================================*/
.nav-wrap {
	width: 100%;
	background: #050505;
}

.nav {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	height: 75px;
}

.slideout-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #090909;
	text-align: center;
	transform: translateX(-100%);
	transition: transform .06s ease;
	z-index: 99;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.slideout-nav.open {
	transform: translateX(0);
}

.desktop-nav {
	display: none;
}

.slideout-close {
	position: absolute;
	top: 2em;
	right: 2em;
	font-size: 2em;
	color: white;
}

.slideout-logo {
	max-width: 100px;
	margin-bottom: 15px;
}

.menu-icon {
	font-size: 2.4em;
	padding: 5px;
	position: absolute;
	right: 1em;
}

.nav-title {
	color: white;
	font-size: 1.8rem;
	font-weight: 300;
	font-family: 'Bitter', 'Geogia', 'Times New Roman', serif;
	letter-spacing: 0.1em;
	margin-bottom: 60px;
}

.navbar-title {
	font-size: 1.4rem;
	font-weight: 300;
	letter-spacing: 0.05em;
	font-family: 'Bitter', 'Geogia', 'Times New Roman', serif;
	margin-left: .7em;
	color: white;
}

.navbar-logo {
	width: 10%;
	height: auto;
	margin-left: 1em;

}

.slideout-nav li {
	font-size: 2em;
	padding: 20px;
}




/*========================================
			Main Content Section
========================================*/
.no-gap {
	padding: 0;
	margin: 0;
}

.main-content {
	max-width: 1400px;
	width: 100%;
	padding: 0;
}

.main-content .row {
	padding: 0;
	margin: 0;
}

.project-box {
	position: relative;
	overflow: hidden;
}
	 
.info-box {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: all .5s ease-in-out;
	opacity: 0;
	transform: translateY(100%);
	color: white;
}

.project-box:hover .info-box {
	transform: translateY(0);
	opacity: 1;
}

.footer {
	width: 100%;
	background: #131313;
}

.footer .container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-box {
	padding: 50px;
}

.footer-icon {
	font-size: 2rem;
	padding: 0 20px;
}

/*========================================
			INDIVIDUAL PROJECT PAGE
========================================*/
.project-content  {
	 /*background: pink;*/
	 margin-top: 50px;
 }

.sketch {
	background: pink;
}

.project-page-title {
	text-align: center;
	font-size: 4rem;
	font-weight: 900;
}

.project-nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.project-nav a {
	color: lightgrey;
}

.project-nav a:hover {
	color: steelblue;
}


.prevpage,
.nextpage {
	display: flex;
	align-items: center;
	font-size: 3em;
	padding: 10px 20px;
}


.project-nav-title {
	font-weight: 700;
	margin: 5px 1em 0;
	padding: 0;
}

.body-link {	
	color: steelblue;
}



/*========================================
			LETTERING PAGE
========================================*/
.instafeed {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: #131313;
	font-size: 1.5em;
}

.instagram-pic {
	flex-grow: 1;
	width: 400px;
	height: auto;
	background: #fff;
	margin: 2em 0;
	box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}




/*========================================
			Media Queries
========================================*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
		svg {
			width: 60%;
			padding: 30px 20px;
		}

		.landing-intro {
			font-size: 2.4rem;
			width: 400px;
		}

		.landing-btn {
			font-size: 1.8em;
		}

		.navbar-logo {
			width: 6%;
		}

		.menu-icon {
			display: none;
		}

		.slideout-nav {
			display: none;
		}

		.nav {
			height: 70px;
		}

		.desktop-nav {
			display: flex;
			position: absolute;
			right: 0;
		}

		.nav ul {
			margin-bottom: 0;
			display: flex;
		}

		.nav li {
			padding: 0 10px;
			font-size: 2em;
		}

		.navbar-title {
			display: inline-block;
			font-size: 2em;
			letter-spacing: 0.1em;
			font-family: 'Bitter', 'Geogia', 'Times New Roman', serif;
		}


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	 svg {
	 	width: 70%;
	 	padding:  40px 20px;
	 }

	 .navbar-logo {
	 	width: 5%;
	 }

	 .landing-btn {
			font-size: 2em;
		}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	svg {
		width: 80%;
		padding:  50px 30px;
	}

	.navbar-logo {
		width: 4%;
	}

	.landing-btn {
		font-size: 2.4em;
	}


}








